
<label for="title">
	<f:translate key="tx_escortmodels_domain_model_model.title" />
</label><br />
	<f:form.textfield property="title" /><br />
<label for="subtitle">
	<f:translate key="tx_escortmodels_domain_model_model.subtitle" />
</label><br />
	<f:form.textarea property="subtitle" cols="40" rows="15" /><br />
<label for="teaser">
	<f:translate key="tx_escortmodels_domain_model_model.teaser" />
</label><br />
	<f:form.textarea property="teaser" cols="40" rows="15" /><br />
<label for="description">
	<f:translate key="tx_escortmodels_domain_model_model.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />
<label for="description2">
	<f:translate key="tx_escortmodels_domain_model_model.description2" />
</label><br />
	<f:form.textarea property="description2" cols="40" rows="15" /><br />
<label for="image">
	<f:translate key="tx_escortmodels_domain_model_model.image" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="topImage">
	<f:translate key="tx_escortmodels_domain_model_model.top_image" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="imageCaption">
	<f:translate key="tx_escortmodels_domain_model_model.image_caption" />
</label><br />
	<f:form.textarea property="imageCaption" cols="40" rows="15" /><br />
<label for="bottomImage">
	<f:translate key="tx_escortmodels_domain_model_model.bottom_image" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="education">
	<f:translate key="tx_escortmodels_domain_model_model.education" />
</label><br />
	<f:form.textfield property="education" /><br />
<label for="background">
	<f:translate key="tx_escortmodels_domain_model_model.background" />
</label><br />
	<f:form.textfield property="background" /><br />
<label for="fashionDesigner">
	<f:translate key="tx_escortmodels_domain_model_model.fashion_designer" />
</label><br />
	<f:form.textfield property="fashionDesigner" /><br />
<label for="perfume">
	<f:translate key="tx_escortmodels_domain_model_model.perfume" />
</label><br />
	<f:form.textfield property="perfume" /><br />
<label for="interests">
	<f:translate key="tx_escortmodels_domain_model_model.interests" />
</label><br />
	<f:form.textarea property="interests" cols="40" rows="15" /><br />
<label for="lingerieDesigner">
	<f:translate key="tx_escortmodels_domain_model_model.lingerie_designer" />
</label><br />
	<f:form.textarea property="lingerieDesigner" cols="40" rows="15" /><br />
<label for="flowers">
	<f:translate key="tx_escortmodels_domain_model_model.flowers" />
</label><br />
	<f:form.textarea property="flowers" cols="40" rows="15" /><br />
<label for="favoriteTravel">
	<f:translate key="tx_escortmodels_domain_model_model.favorite_travel" />
</label><br />
	<f:form.textarea property="favoriteTravel" cols="40" rows="15" /><br />
<label for="sportsInterests">
	<f:translate key="tx_escortmodels_domain_model_model.sports_interests" />
</label><br />
	<f:form.textarea property="sportsInterests" cols="40" rows="15" /><br />
<label for="cuisine">
	<f:translate key="tx_escortmodels_domain_model_model.cuisine" />
</label><br />
	<f:form.textfield property="cuisine" /><br />
<label for="jewelry">
	<f:translate key="tx_escortmodels_domain_model_model.jewelry" />
</label><br />
	<f:form.textfield property="jewelry" /><br />
<label for="dreamTravel">
	<f:translate key="tx_escortmodels_domain_model_model.dream_travel" />
</label><br />
	<f:form.textfield property="dreamTravel" /><br />
<label for="clothingStyle">
	<f:translate key="tx_escortmodels_domain_model_model.clothing_style" />
</label><br />
	<f:form.textarea property="clothingStyle" cols="40" rows="15" /><br />
<label for="drinks">
	<f:translate key="tx_escortmodels_domain_model_model.drinks" />
</label><br />
	<f:form.textfield property="drinks" /><br />
<label for="height">
	<f:translate key="tx_escortmodels_domain_model_model.height" />
</label><br />
	<f:form.textfield property="height" /><br />
<label for="weight">
	<f:translate key="tx_escortmodels_domain_model_model.weight" />
</label><br />
	<f:form.textfield property="weight" /><br />