
<table class="tx-escortmodels" >
	<tr>
		<td>
			<f:translate key="tx_escortmodels_domain_model_model.title" />
		</td>
		<td>
		{model.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_escortmodels_domain_model_model.subtitle" />
		</td>
		<td>
		{model.subtitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_escortmodels_domain_model_model.teaser" />
		</td>
		<td>
		{model.teaser}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_escortmodels_domain_model_model.description" />
		</td>
		<td>
		{model.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_escortmodels_domain_model_model.description2" />
		</td>
		<td>
		{model.description2}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_escortmodels_domain_model_model.image" />
		</td>
		<td>
				<f:image src="{model.image.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_escortmodels_domain_model_model.top_image" />
		</td>
		<td>
				<f:image src="{model.topImage.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_escortmodels_domain_model_model.image_caption" />
		</td>
		<td>
		{model.imageCaption}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_escortmodels_domain_model_model.bottom_image" />
		</td>
		<td>
				<f:image src="{model.bottomImage.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_escortmodels_domain_model_model.education" />
		</td>
		<td>
		{model.education}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_escortmodels_domain_model_model.background" />
		</td>
		<td>
		{model.background}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_escortmodels_domain_model_model.fashion_designer" />
		</td>
		<td>
		{model.fashionDesigner}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_escortmodels_domain_model_model.perfume" />
		</td>
		<td>
		{model.perfume}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_escortmodels_domain_model_model.interests" />
		</td>
		<td>
		{model.interests}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_escortmodels_domain_model_model.lingerie_designer" />
		</td>
		<td>
		{model.lingerieDesigner}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_escortmodels_domain_model_model.flowers" />
		</td>
		<td>
		{model.flowers}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_escortmodels_domain_model_model.favorite_travel" />
		</td>
		<td>
		{model.favoriteTravel}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_escortmodels_domain_model_model.sports_interests" />
		</td>
		<td>
		{model.sportsInterests}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_escortmodels_domain_model_model.cuisine" />
		</td>
		<td>
		{model.cuisine}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_escortmodels_domain_model_model.jewelry" />
		</td>
		<td>
		{model.jewelry}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_escortmodels_domain_model_model.dream_travel" />
		</td>
		<td>
		{model.dreamTravel}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_escortmodels_domain_model_model.clothing_style" />
		</td>
		<td>
		{model.clothingStyle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_escortmodels_domain_model_model.drinks" />
		</td>
		<td>
		{model.drinks}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_escortmodels_domain_model_model.height" />
		</td>
		<td>
		{model.height}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_escortmodels_domain_model_model.weight" />
		</td>
		<td>
		{model.weight}
		</td>
	</tr>
</table>