
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Size</h1>

<f:flashMessages />

<table  class="tx_escortmodels" >
	<tr>
		<th><f:translate key="tx_escortmodels_domain_model_size.title" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{sizes}" as="size">
		<tr>
			<td><f:link.action action="show" arguments="{size : size}"> {size.title}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{size : size}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{size : size}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Size</f:link.action>
</f:section>